#%RAML 1.0
title: Hotel Management API
version: v1
baseUri: https://hotel-management-jsobcx.5sc6y6-4.usa-e2.cloudhub.io
mediaType: application/json
# securitySchemes:
#   client_id_header: !include security/securitySchemes.raml

uses:
  types: types/common-types.raml
  traits: traits/headers.raml

/health:
  get:
    description: Check API health
    responses:
      200:
        body:
          application/json:
            example: { status: "ok" }


/hotels:
  get:
    is: [ traits.clientHeaders ]
    description: |
      Retrieve a list of hotels. Supports optional filters and should return stable pagination headers (e.g. Link or X-Total-Count) in production.
    queryParameters:
      city:
        type: string
        required: false
        example: "Santa Marina"
        description: Filter hotels by city name (case-insensitive).
      stars:
        type: integer
        required: false
        example: 4
        description: Filter hotels by star rating (1-5).
        enum: [1, 2, 3, 4, 5]
      limit:
        type: integer
        required: false
        example: 25
        description: Maximum number of items to return (pagination). Default is implementation-defined.
      offset:
        type: integer
        required: false
        example: 0
        description: Offset for pagination results.
    responses:
      200:
        headers:
          X-Total-Count:
            description: Total number of matching hotels
            type: integer
        body:
          application/json:
            type: types.HotelList
            example: !include examples/hotels-list.json

  post:
    is: [ traits.clientHeaders ]
    description: Create a new hotel (admin-level operation). Server assigns `id` if not provided.
    # securedBy: [ client_id_header ]
    body:
      application/json:
        type: types.Hotel
        example: !include examples/hotels-object.json
    responses:
      201:
        body:
          application/json:
            type: types.Hotel

